:root {
	/* 
	// TYPOGRAPHY
	// Family */
	--ff-accent: 'Big Shoulders Display', sans-serif;
	--ff-main: 'Lexend Deca', sans-serif;

	--cl-first-card: hsl(31 77% 52%);
	--cl-second-card: hsl(184 100% 22%);
	--cl-third-card: hsl(179 100% 13%);

	--cl-neutral-100: hsl(0 0% 100%);
	--cl-neutral-100-trans: hsla(0 0% 100% / 75%);
	--cl-neutral-200: hsl(0 0% 95%);
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	font-style: italic;
}

body {
	display: grid;
	font-family: var(--ff-main);
	background: var(--cl-neutral-200);
	font-size: .938rem;
	min-height: 100svh;
	margin: 0;
}

main {
	display: grid;
	margin: 5.5rem auto;
	width: 94%;
	max-width: 20.438rem;

	@media (min-width: 64rem) {
		grid-template-columns: repeat(3, minmax(min(19.188rem, 100%), 1fr));
		max-width: 57.563rem;
		margin-block: 10.75rem auto;
	}
}

article {
	padding: 3rem;
	display: grid;

	&:nth-child(1) {
		border-radius: .5rem .5rem 0 0;
		background-color: var(--cl-first-card);
	}
	
	&:nth-child(2) {
		background-color: var(--cl-second-card);
	}
	
	&:nth-child(3) {
		border-radius: 0 0 .5rem .5rem;
		background-color: var(--cl-third-card);
	}

	@media (min-width: 64rem) {
		&:nth-child(1) {
			border-radius: .5rem 0 0 .5rem;
		}
	
		&:nth-child(3) {
			border-radius: 0 .5rem .5rem 0;
		}
	}

	h1 {
		font-family: var(--ff-accent);
		font-size: 2.5rem;
		font-weight: 700;
		text-transform: uppercase;
		color: var(--cl-neutral-100);
		margin-block: 2.25rem 0;
	}
	
	p {
		color: var(--cl-neutral-100-trans);
		line-height: 1.667;
		margin-block: 1.5rem 0;
	}
	
	a {
		font-size: .938rem;
		text-decoration: none;
		width: fit-content;
		align-content: center;
		margin-block: 1.5rem 0;
		padding: .833em 1.943em;
		background-color: var(--cl-neutral-100);
		border: solid .125rem transparent;
		border-radius: 10rem;
		transition: background-color .3s;

		:is(article):nth-child(1) & {
			color: var(--cl-first-card);
		}
		
		:is(article):nth-child(2) & {
			color: var(--cl-second-card);
		}
		
		:is(article):nth-child(3) & {
			color: var(--cl-third-card);
		}

		:is(article) &:hover,
		:is(article) &:focus,
		:is(article) &:active {
			color: var(--cl-neutral-100);
			border-color: var(--cl-neutral-100);
			background-color: transparent;
		}

		@media (min-width: 64rem) {
			margin-block-start: 5.0rem;
		}
	}
}

main + footer {
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	clip-path: inset(50%);
	white-space: nowrap;
}